$theme-color1: #5f9ea0;
$theme-color1-light: #8bcfd1;
$ground: #ffffff;

$dark-primary-color: #454b64;
$default-primary-color: #6d7692;
$light-primary-color: #cfd1dc;
$user-id-color: #657786;

$border-line-color: #9ba5ac;

$error-color: crimson;

$mobile-width-threshold: 480px;
